<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QPerfMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QPerfMon.Properties.Settings>
            <setting name="LoggingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggingFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggingAppendDateTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggingMinimumDiskSpaceLimitMB" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LoggingCreateNewFileEveryMB" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LoggingCreateNewFileMaxCounter" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LoggingSampleRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoggingDecimalDigits" serializeAs="String">
                <value>2</value>
            </setting>
        </QPerfMon.Properties.Settings>
    </userSettings>
</configuration>